<mat-toolbar *ngIf="header"
             #matToolBarHeader
             [color]="header.color"
             class="mat-toolbar-header">
  <ng-container *ngTemplateOutlet="header.templateRef;  context: context">
  </ng-container>
</mat-toolbar>
<mat-sidenav-container *ngIf="content">
  <mat-sidenav *ngIf="sidenavLeft"
               #matSidenavLeft
               [opened]="sidenavLeft?.sidenavConfig?.opened"
               [mode]="sidenavLeft?.sidenavConfig?.mode"
               class="mat-sidenav-left">
    <ng-container *ngTemplateOutlet="sidenavLeft.templateRef;  context: context">
    </ng-container>
  </mat-sidenav>
  <mat-sidenav *ngIf="sidenavRight"
               #matSidenavRight
               [opened]="sidenavRight?.sidenavConfig?.opened"
               [mode]="sidenavRight?.sidenavConfig?.mode"
               position="end"
               class="mat-sidenav-right">
    <ng-container *ngTemplateOutlet="sidenavRight.templateRef;  context: context">
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="content"
                       #matSidenavContent>
    <ng-container *ngTemplateOutlet="content.templateRef;  context: context">
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar *ngIf="footer"
             #matToolBarFooter
             [color]="footer.color"
             class="mat-toolbar-footer">
  <ng-container *ngTemplateOutlet="footer.templateRef;  context: context">
  </ng-container>
</mat-toolbar>
